<h1>This is <%=@user.name%>'s bio.</h1>
<div>
  <%# Intro card %>
  <%= render partial: 'user', locals: { user: @user } %>

  <%# bio card %>
  <div>
    <h5>Bio</h5>
    <p><%= @user.bio%></p>
  </div>

  <%# Posts %>
  <% @posts.each do |post| %>
   <%= render partial: 'post', locals: { user: @user, post: post } %>
 <%end%>

  <button type='button'><a href="/users/<%=@user.id%>/posts">See all posts</a></button>
</div>