<h1>These are all the posts by <%=@user.name%></h1>

<div>
<%= render partial: 'user', locals: { user: @user } %>

  <%# bio card %>
  <div>
    <p><%= @user.bio%></p>
  </div>

  <%# Posts %>
  <% @posts.each do |post| %>
    <div>
      <%= render partial: 'post', locals: { user: @user, post: post } %>

      <%# Coments %>
      <% post.recent_comments.each do |comment| %>
      <%commentor = @users.find(comment.user_id)%>
        <ul>
          <li><%=commentor.name%>: <%=comment.text%></P>
        </ul>
      <%end%>
    </div>
  <%end%>  
</div>