<h1 class='title'><%=@user.name%>'s Posts.</h1>

<div>
<%= render partial: 'user', locals: { user: @user } %>

  <%# bio card %>
<%= render partial: 'bio', locals: { user: @user } %>

  <%# Posts %>
  <% @posts.each do |post| %>
    <div>
      <%= render partial: 'post', locals: { user: @user, post: post } %>

      <%# Coments %>
      <% post.recent_comments.each do |comment| %>
      <%commentor = @users.find(comment.user_id)%>
        <ul>
          <li><%=commentor.name%>: <%=comment.text%></P>
        </ul>
      <%end%>
    </div>
  <%end%>  
</div>