<div>
  <h1><%=@post.title%> by <%=@user.name%></h1>

  <p><%=@post.text%></p>

  <% @comments.each do |comment| %>
      <%commentor = @users.find(comment.user_id)%>
        <ul>
          <li><%=commentor.name%>: <%=comment.text%></P>
        </ul>
      <%end%>
    </div>
</div>