<section id='article'>
  <h1 class= 'title'>Article</h1>

  <div class='articlePage'>

    <div class='articleText'>
      <h3><%=@post.title%></h3>
      <p class='postMetrics'>Comments: <%=@post.comments_counter%>, Likes: <%=@post.likes_counter%></p>
      <p><%=@post.text%></p>
    </div>

    <%= form_with model: @like, url: "/users/#{@user.id}/posts/#{@post.id}/like_comment", local: true do |form|%>
      <%= form.hidden_field :user_id, value: @user.id%>
      <%= form.hidden_field :post_id, value: @post.id%>
      <div class='actions'>
        <%= form.submit 'Like'%>  
      </div>

      <% if flash[:error].present? %>
        <div class="alert alert-danger">
          <%= flash[:error] %>
        </div>
      <% end %>
    <%end%>

    <%if @comments.count > 0%>
      <ul class='comments'>
        <% @comments.each do |comment| %>
          <%commentor = @users.find(comment.user_id)%>
          <li><%=commentor.name%>: <%=comment.text%></P>
        <%end%>
      </ul>
      <br>
      <%= render partial: 'comment', locals: { comment: @comment, current_user: @current_user, post: @post } %>
    <%else%>
      <h4 class='noComments'>Be the first to comment</h4>
      <br>
      <%= render partial: 'comment', locals: { comment: @comment, current_user: @current_user, post: @post } %>
    <%end%>
  </div>
</section>
<h4 class='returnToPosts'><a href="/users/<%=@post.author_id%>/posts">Back to posts</a></h4>