<h1 class= 'title'>Article</h1>
<div class='articlePage'>

  <div class='articleText'>
    <h3><%=@post.title%></h3>
    <p class='postMetrics'>Comments: <%=@post.comments_counter%>, Likes: <%=@post.likes_counter%></p>
    <p><%=@post.text%></p>
  </div>

  <ul class='comments'>
    <% @comments.each do |comment| %>
      <%commentor = @users.find(comment.user_id)%>
        <li><%=commentor.name%>: <%=comment.text%></P>
     <%end%>
  </ul>
</div>